input, textarea, select {
    appearance: none;
    width: 100%;
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: 1px solid var(--stroke-default);
    font: var(--text);
}

label {
    font: var(--text-sm);
    color: var(--text-secondary);

    display: block;
    margin-bottom: .25rem;
}

input:focus,
textarea:focus,
select:focus,
input[type=file]:focus {
    outline: .25rem solid var(--surface-secondary);
    border: 1px solid var(--stroke-highlight);
    outline-offset: .1px;
}

select {
    background: url(../../assets/icons/arrow-down-01.svg) no-repeat calc(100% - 1rem);
}

select:focus {
    background-image: url(../../assets/icons/arrow-up-01.svg);
}

.address .flex {
    gap: 1.25rem;
}

.input-wrapper:has([disabled]) {
    opacity: .5;
}

input{
    &[disabled] {
        background-color: var(--surface-disabled);

        border: 1px solid var(--stroke-default);
        color: var(--text-primary);
    }

    & + small {
        color: #78716C;
        font: var(--text-sm);

        display: inline-block;
        margin-top: .25rem;
    }

    &:invalid {
        border: 2px solid var(--semantic-error);
    }

    &[required] + .error {
        display: flex;
        align-items: center;
        gap: .25rem;

        font: var(--text-sm);
        color: var(--semantic-error);

        margin-top: .25rem;
    }

    &:not(:focus):valid + .error {
        display: none;
    }
}